%UiUiGroup_Base {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  align-items: stretch;
  margin: 0;
  width: 100%;
  min-width: 50px;
}

%UiUiGroup_Row {
  flex-flow: row;
  > * {
    margin: 0 var(--elements-margin) !important;
    &:first-child {
      margin-left: 0 !important;
    }
  }
  > [data-type="panel"] {
    &:not(:has(>label)) {
      padding-top: var(--panel-padding-vertical);
      border-top: 1px solid var(--label-color);
    }

  }
}

%UiUiGroup_Col {
  flex-flow: column;
  > * {
    margin: var(--elements-margin) 0 !important;
    &:first-child {
      margin-top: 0 !important;
    }
  }
  > [data-type="panel"] {
    padding-left: var(--panel-padding-horizontal);
    border-left: 1px solid var(--label-color);
  }
}

.Base {
  @extend %UiUiGroup_Base;
}
.Row {
  @extend %UiUiGroup_Row;
}
.Col {
  @extend %UiUiGroup_Col;
}
