
.uiSelect {
  position:relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: var(--single-line-height-px);
  border-radius: 1px;
  label {
    font-size: 8px;
    letter-spacing: -0.04em;
    z-index: 1;
    padding: 0px;
    pointer-events: none;
    color:#fff;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-indent: 1px;
    background: #fff;
    border: none;
    font-size: 9px;
    padding: 2px 4px;
    margin-left: 4px;
    border-radius: 0!important;
    &:focus{
      outline: none;
      border: none !important;
    }
  }
}
