%UiUiSelect {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  min-height: var(--single-line-height-px);
  border-radius: 1px;
  label {
    font-size: var(--input-label-size);
    letter-spacing: var(--input-label-kerning);
    z-index: 1;
    padding: var(--input-label-padding-vertical) var(--input-label-padding-horizontal);
    pointer-events: none;
    color:var(--input-label-color);
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    text-indent: 1px;
    background: #fff;
    border: none;
    font-size: 9px;
    padding: 2px 4px;
    margin-left: 4px;
    border-radius: 0!important;
    &:focus{
      outline: none;
      border: none !important;
    }
  }
}

.element {
  @extend %UiUiSelect;
}
