
@mixin uiSliderInput {
    position:absolute;
    width:100%;
    height: 100%;
    margin:0px;
    background-color: transparent;
    /* reset */
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
}
@mixin uiSliderThumb {
    width: 1px;
    height: 10px;
    background: rgba(0,0,0,0);

}

%UiUiSlider {
    position:relative;
    display: inline-flex;
    align-items: center;
    width: 100%;
    min-height: var(--single-line-height-px);
    background: rgba(255,255,255,0.6);
    border-radius: 1px;
    label {
      color: var(--input-label-color);
      font-size: var(--input-label-size);
      font-weight: var(--input-label-weight);
      letter-spacing: var(--input-label-kerning);
      padding: var(--input-label-padding-vertical) var(--input-label-padding-horizontal);
      pointer-events: none;
    }
    input[type="range"] {
      @include uiSliderInput;
      &::-webkit-slider-thumb {
        @include uiSliderThumb;
        -webkit-appearance: none;
        appearance: none;
      }
      &::-moz-range-thumb {
        @include uiSliderThumb;
      }
    }
}
%UiUiSlider_Value {
  color: var(--value-color);
  font-size: var(--value-size);
  font-weight: var(--value-weight);
  letter-spacing: var(--value-kerning);
  padding: var(--value-padding-vertical) var(--value-padding-horizontal);
  text-align: right;
  flex-grow: 1;
  min-width: 15px;
  margin-left: 5px;
  pointer-events: none;
}
%UiUiSlider_Container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 3px;
}
%UiUiSlider_Thumb {
    --width: 0%;
    position: absolute;
    top: 1px;
    bottom:1px;
    left: 1px;
    width:calc(var(--width) - 2px);
    margin: 0;
    background: rgba(255,255,255,0.8);
    pointer-events: none;
    transition: width 0.05s ease-in-out;
}

.element {
  @extend %UiUiSlider;
}
.wrapper {
  @extend %UiUiSlider_Container;
}
.thumb {
  @extend %UiUiSlider_Thumb;
}
.value {
  @extend %UiUiSlider_Value;
}
