@import '../UiUi';

%wrapper {
  @include absolute;
}
%docks {
  @include absolute;
  @include flex(column, space-between);
}
%dock {
  position: relative;
  padding: var(--dock-padding);
  background: var(--dock-background);
}
%topDock {
  @extend %dock;
  @include flex(row, start, start);
}
%bottomDock {
  @extend %dock;
  @include flex(row, start, end);
}

.wrapper {
  @extend %wrapper;
}
.docks {
  @extend %docks;
}
.topDock {
  @extend %topDock;
}
.bottomDock {
  @extend %bottomDock;
}
