.vars {
  --single-line-height-px: 9px;
  //
  --label-size: 8px;
  --label-weight: 400;
  --label-kerning: -0.04em;
  --label-color: #000;
  --label-padding-vertical: 3px;
  --label-padding-horizontal: 0px;
  //
  --value-size: 8px;
  --value-weight: 600;
  --value-kerning: -0.06em;
  --value-color: #000;
  --value-padding-vertical: 3px;
  --value-padding-horizontal: 0px;
  //
  --panel-background: radial-gradient(
    circle at 50% 0,
    rgb(140, 155, 155, 0.5),
    rgb(200, 200, 250, 0.1) 70.71%
  ),
   rgba(71, 71, 34, 0.4);
  --panel-shadow: 1px 2px 5px rgba(0,0,0,0.6);
}

.uiUiRoot {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom:0px;
  .docks {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom:0px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .topDock {
    position: relative;
    width: 100%;
    display: flex;
    align-items: start;
  }
  .bottomDock {
    position: relative;
    width: 100%;
    display: flex;
    align-items: end;
  }
}



